@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: local('HelveticaNeueLTStd'), url(../public/Fonts/HelveticaNeueLTStd-Lt.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Blk';
  src: local('HelveticaNeueLTStd-Blk'), url(../public/Fonts/HelveticaNeueLTStd-Blk.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Hv';
  src: local('HelveticaNeueLTStd-Hv'), url(../public/Fonts/HelveticaNeueLTStd-Hv.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
/*HelveticaNeueLTStd-Hv*/

#confont{
  font-family: 'HelveticaNeueLTStd';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkmenu{
  font-family:"HelveticaNeueLTStd";
}

.menu li{
  list-style:"";
}

.helloTitle{
  font-family: "HelveticaNeueLTStd-Hv";
  font-size: 135px;
}
